:root {
  --global-none: 12px solid #F9FAFB;
  --global-txt-sm: 14px;
  --global-txt-base: 14px;
  --global-txt-lg: 14px;
  --global-txt-xl: 18px;
  --global-mh-txt: #333;
  --global-lib-brdr: #3b82f6;
  --global-ph-bg: #3b82f6;

  /* Switcher */
  --global-bg-gray-200: rgb(29 78 216);
  --global-text-black: #fff;

  /* Find Care Button */
  --global-bg-white: #2c915b;
  --global-text-blue-500: #fff;
  --global-rounded-3xl: 12px;
  --global-pxy-63: 12px 24px 12px 24px;
  --global-text-semibold: 600;
  --global-border-blue-500: 2px solid #2c915b;

  /* Log-In Button */
  --global-bg-blue-500: rgb(59 130 246);
  --global-text-white: #fff;
  --global-text-login-btn: #fff;
  --global-border-login-btn: rgb(59 130 246);

  /* Masthead BG */
  --global-hero-img: url('images/masthead-bg.jpeg');
  --global-hero-pos: 0 50%;
  --global-hero-height: 510px;

  /* Masthead H1 */
  --global-text-size-5xl: 36px;
  --global-h1-leading: 36px;

  /* Masthead P */
  --global-text-lg: 16px;

  /* Get Started BTN */
  --global-bg-green-500:#f4ba01;

  /* PH BTN */
  --global-bg-phbtn: rgb(40, 108, 226);

  /* Feats */
  --global-ico-feat1: Url('images/feat1.svg');
  --global-ico-feat2: Url('images/feat2.svg');
  --global-ico-feat3: Url('images/feat3.svg');
  --global-ico-width: 128px;
  --global-ico-height: 128px;
  --global-ico-size: contain;
  --global-ico-rep: no-repeat;
  --global-ico-pos: center;
  --global-ico-feat-fltr: brightness(1) invert(0);

  --global-pad-96: 26px 96px;
  --global-feat-bg: white;
  --global-feat-clr: #333;

  /* Callout */
  --global-bg-blue-200: #fff;
  --global-text-blue-800: #333;
  --global-text-size-3xl: 30px;
  --global-text-size-xl: 20px;
  --global-text-size-2xl: 30px;
  --global-mt-20: 90px;
  --global-pt-20: 90px;
  --global-pb-20: 90px;
}

