:root {
    --global-none: 0;
    --global-txt-sm: 14px;
    --global-txt-base: 16px;
    --global-txt-lg: 18px;
    --global-txt-xl: 24px;
    --global-mh-txt: #fff;
    --global-lib-brdr: #3b82f6;
    --global-ph-bg: #fff;

    /* Switcher */
    --global-bg-gray-200: rgb(229 231 235);
    --global-text-black: #333;

    /* Find Care Button */
    --global-bg-white: #fff;
    --global-text-blue-500: rgb(59 130 246);
    --global-rounded-3xl: 24px;
    --global-pxy-63: 12px 24px 12px 24px;
    --global-text-semibold: 600;
    --global-border-blue-500: 2px solid rgb(59 130 246);

    /* Log-In Button */
    --global-bg-blue-500: rgb(59 130 246);
    --global-text-white: #fff;
    --global-text-login-btn: #fff;
    --global-border-login-btn: rgb(59 130 246);


    /* Masthead BG */
    --global-hero-img: url('images/hero-img.png');
    --global-hero-pos: 0 50%;
    --global-hero-height: 570px;

    /* Masthead H1 */
    --global-text-size-5xl: 48px;
    --global-h1-leading: 48px;

    /* Masthead P */
    --global-text-lg: 18px;

    /* Get Started BTN */
    --global-bg-green-500: rgb(34 197 94);

    /* PH BTN */
    --global-bg-phbtn: #fff;

    /* Feats */
    --global-ico-feat1: Url('images/feat1.svg');
    --global-ico-feat2: Url('images/feat2.svg');
    --global-ico-feat3: Url('images/feat3.svg');
    --global-ico-width: 128px;
    --global-ico-height: 128px;
    --global-ico-size: contain;
    --global-ico-rep: no-repeat;
    --global-ico-pos: center;
    --global-ico-feat-fltr: brightness(0) invert(1);

    --global-pad-96: 96px 96px;
    --global-feat-bg: #1e40af;
    --global-feat-clr: #fff;

    /* Callout */
    --global-bg-blue-200: rgb(191 219 254);
    --global-text-blue-800: rgb(30 64 175);
    --global-text-size-3xl: 36px;
    --global-text-size-xl: 28px;
    --global-text-size-2xl: 32px;
    --global-mt-20: 80px;
    --global-pt-20: 80px;
    --global-pb-20: 80px;
}

